.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.purple {
    color: #7342d6;
}

.header__top--left {
    display: flex;
    align-items: center;
}

.main__logo {
    width: 2.5rem;
    margin-right: 0.75rem;
}

img {
    max-width: 100%;
    height: auto;
}

.header__middle--links {
    display: flex;
}

.links {
    margin-left: 16px;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    font-size: 1.125rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    transition-duration: 300ms;
    padding-bottom: 0.25rem;
    border-bottom-width: 2px;
    border-color: transparent;
}

.nav__link {
    margin-left: 1.5rem;
    text-decoration: none;
}

.nav__link--signup {
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgba(100,21,255,var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(247,250,252,var(--tw-text-opacity));
    border-bottom-width: 0px;
}

.main__title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 900;
    border-bottom-width: 0px;
    font-size: 1.5rem;
    margin-left: 0px;
}

/* HEADER */

.home__description {
    display: flex;
    
}

.description {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
}

.illustration__img {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.customers {
    opacity: 0.5;
    justify-content: center;
    margin-top: 5rem;
    display: block;
    
}

/* FEATURES */

.features__container {
    padding: 80px 0;
    position: relative
}

.features__title {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100%/3);
    align-items: center;
    max-width: 24rem;

    
}

.service__title {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-weight: ;
}

.image__container {

}

.description {
    display: flex;
    justify-content: center;    
}